# MySQL
MYSQL_ROOT_PASSWORD=change-me-root-password
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=change-me-db-password

# WordPress
WORDPRESS_DB_HOST=db:3306
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=change-me-db-password
WORDPRESS_DB_NAME=wordpress
WORDPRESS_TABLE_PREFIX=wp_

# GraphQL JWT Auth
GRAPHQL_JWT_AUTH_SECRET_KEY=change-me-jwt-secret-key

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
